html {
  font-family: Lora, serif;
}

.masthead {
  background-image: url("../images/leaf-bg");
  background-repeat: repeat-x;
  background-color: #588477;
  border-top: 3px solid;
}

.logo {
  text-align: center;
  color: #fff
}

.nav {
  text-align: center;
  color: rgba(16, 52, 41, 0)
}

.nav a {
  text-decoration: none;
}

.nav a:hover {

}

.banner {

}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
